@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="AddEditExpense" class="btn btn-secondary">Add/Edit Expense</a>
</div>